#designers ol {
    padding:0;
    list-style-type: none;
}

#designers div {
    float:left;
}

@media (max-width: 320px) {
    #designers div {
        width: 100%;
    }
}

@media (min-width: 321px) and (max-width: 1024px) {
    #designers div {
        width: 50%;
    }
}

@media (min-width: 321px) {
    #designers {
        margin: 0 0 0 40px;
    }
}

@media (min-width: 1025px) {
    #designers {
        width: 996px;
    }
    #designers div {
        width: 25%;
    }
}
